h1 {
  margin: 0;
  color: var(--color-text);
  font-size: 3rem;
  flex: 1;
}

h2 {
  font-size: 2rem;
  color: var(--color-text);
  margin: 0;
  flex: 1;
}

h3 {
  margin: 0;
  color: var(--color-text);
  font-size: 1.3rem;
  flex: 1;
}
